<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>25713907099-p94atuk9m4n0r598nn7gkbdg6f0t90if.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.25713907099-p94atuk9m4n0r598nn7gkbdg6f0t90if</string>
	<key>API_KEY</key>
	<string>AIzaSyA42zI52acHdDr7xCGJSzTczW8_AuB8_B4</string>
	<key>GCM_SENDER_ID</key>
	<string>25713907099</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.andrewleonov.ToDoList</string>
	<key>PROJECT_ID</key>
	<string>todolist-25976</string>
	<key>STORAGE_BUCKET</key>
	<string>todolist-25976.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:25713907099:ios:fb8bba30424d7e83fabd3e</string>
</dict>
</plist>